<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RoboxEntities" connectionString="metadata=res://*/Robokassa.csdl|res://*/Robokassa.ssdl|res://*/Robokassa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.1;initial catalog=Robox;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RobomarketEntities" connectionString="metadata=res://*/Robomarket.csdl|res://*/Robomarket.ssdl|res://*/Robomarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.1;initial catalog=Robomarket;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingEntities" connectionString="metadata=res://*/Accounting.csdl|res://*/Accounting.ssdl|res://*/Accounting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.1;initial catalog=Accounting;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PersonalEntities" connectionString="metadata=res://*/Person.csdl|res://*/Person.ssdl|res://*/Person.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.1;initial catalog=Personal;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>